trigger:
- main

pool:
  vmImage: 'windows-latest'

stages:
- stage: PublishArtifacts
  jobs:
    - job: PublishJob
      steps:
      - task: PublishBuildArtifacts@1
        inputs:
          PathtoPublish: '$(Build.SourcesDirectory)'
          ArtifactName: 'drop'
          publishLocation: 'Container'


- stage: DeploySQLStage
  jobs:
    - deployment: SQLScriptDeployment
      environment: 'Env-Project-15'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: SqlAzureDacpacDeployment@1
                inputs:
                  azureSubscription: 'sc-azure-sql'
                  AuthenticationType: 'server'
                  ServerName: '$(AzureSQLServer)'
                  DatabaseName: '$(AzureSQLDB)'
                  SqlUsername: '$(AzureSQLAdmin)'
                  SqlPassword: '$(AzureSQLAdminPass)'
                  deployType: 'SqlTask'
                  SqlFile: '$(Pipeline.Workspace)/drop/db-scripts/v1_create_table.sql'
                  IpDetectionMethod: 'AutoDetect'